/Lesson 1 - Intro/.vs
/Lesson 1 - Intro/Debug
/Lesson 1 - Intro/Lesson 1/Debug
/Lesson 2 - Geters, seters, constructor/.vs
/Lesson 2 - Geters, seters, constructor/Debug
/Lesson 2 - Geters, seters, constructor/Lesson 2/Debug
/Lesson 3 - Destructor, this/.vs
/Lesson 3 - Destructor, this/Debug
/Lesson 3 - Destructor, this/Lesson 3 - Destructor/Debug